

/* ILLUSTRATION */
/*#illustration {
  background-image:url('../images/about-us-1.jpg');
}
.illustration-box {
	width:100%;
	background:rgba(0,0,0,0.5)
}*/




/* ABOUT US */
section#about-us, 
section#directors,
section#small-description,
section#about-products {
	padding:var(--lg-padding);
}
#head .body {
	font-family:calibri;
}
.big-title, 
.medium-title, 
.small-title {
	color:var(--main-secondary);
}
@media screen and (min-width:1000px){
	.about-us-box {
		width:60%;
	}
}
@media screen and (min-width:520px) and (max-width:1000px) {
	.about-us-box {
		width:70%;
	}
}
@media screen and (max-width:520px) {
	.about-us-box {
		width:100%;
	}
}
@media screen and (max-width:760px) {
	.big-title {
		font-size:3rem;
	}
}



/* DIRECTORS */
.profile-cards .profile-card {
	width:22rem;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 5px 10px 0px;
}
.profile-cards .director-designation {
	font-style:italic;
	color:#AEB7B3;
}
.profile-cards .director-bio {
	color:#6C757D;
}


/* SMALL DESCRIPTION SECTION */
/*#small-description {
	padding:5.4% 4%;
}
#small-description .small-descp-text {
	color:#AEB7B3;
}
@media screen and (min-width:764px) {
	#small-description .small-descp-box {
		width:80%;
	}
}
@media screen and (max-width:764px) {
	#small-description .small-descp-box {
		width:100%;
	}
}
*/
.shop-btn {
	font-weight:bold;
	width:250px;
	padding:2.6%;
}
.shop-btn:active {
	opacity:0.7;
	transition:opacity 0.3s;
}



.about-us-content {
	white-space:pre-line;
	line-height:1.7;
}


.xyz {
	width:85%;
	height:100vh;
}

.xyz img {
	width:100%;
	height:100%;
	object-fit:contain;
}


@media screen and (max-width:576px) {
	.left {
		order:2;
	}
	.right {
		order:1;
	}
}