

/* ILLUSTRATION */
#illustration {
  background-image:url('../images/contact-us-2-sm.jpg');
}
.illustration-box {
	width:100%;
}



/* CONTACT US SECTION */
section#contact-us, section#reach-us{
	padding:4% 2%;
}
.contact-us-box {
	background:#E1EFE640;
	border:2px dashed #160C28;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
@media screen and (min-width:680px) {
	.contact-us-box {
		width:50%;
	}
	.reach-us-box {
		width:70%;
	}
}
@media screen and (max-width:680px) and (min-width:480px) {
	.contact-us-box {
		width:70%;
	}
	.reach-us-box {
		width:80%;
	}
}
@media screen and (max-width:480px) {
	.contact-us-box {
		width:90%;
	}
	.reach-us-box {
		width:100%;
	}
}
.message-form-box .input-s-2:focus, .textarea-s-1:focus {
	color:#160C28;
	border-color:#160C2886;
}
.message-form-box .input-s-2.filled, .textarea-s-1.filled {
	border-color:#160C28;
}
.reach-us-content .left-content {
	background-image:url("../images/black-texture-1.jpg");
	background-repeat:no-repeat;
	background-size:cover;
}
.reach-us-content .link {
	color:#EFCB68;
	transition:0.3s;
}
.reach-us-content .link:hover {
	color:#AEB7B3;
	text-decoration:none;
}
