

/* ILLUSTRATION */
/*#illustration {
  background-image:url('../images/contact-us-2-sm.jpg');
}
.illustration-box {
	width:100%;
}*/



/* CONTACT US SECTION */
/*section#contact-us, section#reach-us{
	padding:4% 2%;
}*/
.contact-us-box {
	background:#FDFDFD;
	border:2px dashed #160C28;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
@media screen and (min-width:680px) {
	.contact-us-box {
		width:50%;
	}
	.reach-us-box {
		width:70%;
	}
}
@media screen and (max-width:680px) and (min-width:480px) {
	.contact-us-box {
		width:70%;
	}
	.reach-us-box {
		width:80%;
	}
}
@media screen and (max-width:480px) {
	.contact-us-box {
		width:90%;
	}
	.reach-us-box {
		width:100%;
	}
}

/*.input-s-2:focus, .textarea-s-1:focus {
	color:#160C28;
	border-color:#160C28;
}*/
/*.input-s-2.filled, .textarea-s-1.filled {
	border-color:#160C28;
	background:rgba(140, 255, 218,0.15);
}
.input-s-2.not-filled, .textarea-s-1.not-filled {
	border-color:#160C28;
	background:rgba(236, 88, 88, 0.1);
}*/
.reach-us-content .left-content {
	background-image:url("../images/black-texture-1.jpg");
	background-repeat:no-repeat;
	background-size:cover;
}
.reach-us-content .link {
	color:#EFCB68;
	transition:0.3s;
}
.reach-us-content .link:hover {
	color:#AEB7B3;
	text-decoration:none;
}



section#contact-us {
	/*height:100vh;*/
	padding:var(--lg-padding);
	background-color:var(--main-primary);
	background-image:url("../images/explorer-bg-1-1280.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	position:relative;
}

#contact-us :is(.overlay-bg) {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(1, 22, 39, 0.8);
}


.input-s-2, 
.textarea-s-1,
.input-s-2:focus, 
.textarea-s-1:focus {
	color:var(--tertiary-light);
	border-width:1.5px;
	border-color:var(--tertiary-light);
	background:transparent;
}

.input-s-2::placeholder,
.textarea-s-1::placeholder {
	color:var(--tertiary-light);
	opacity:0.8;
}

.input-s-2:focus::placeholder,
.textarea-s-1:focus::placeholder {
	opacity:1;
}


.input-s-2.filled, .textarea-s-1.filled {
	border-color:rgba(140, 255, 218,0.8);
	background:rgba(140, 255, 218,0.2);
}
.input-s-2.not-filled, .textarea-s-1.not-filled {
	border-color:rgba(236, 88, 88, 0.7);
	background:rgba(236, 88, 88, 0.1);
}


.mail-support > a,
.telephone-support > a {
	color:var(--tertiary-light);
}


.contact-us-btn {
	/*padding:var(--lg-padding);*/
	font-size:1.1rem;
	font-weight:550;
}

.reach-us,
.contact-us {
	margin-top:5%;
}

.mapouter {
	position:relative;
	text-align:right;
	height:650px;
	width:100%;
}
.gmap_canvas {
	overflow:hidden;
	background:var(--main-secondary)!important;
	height:650px;
	width:100%;
}

@media screen and (max-width:768px) and (min-width:576px) {
	.mapouter,
	.gmap_canvas {
		height:250px;
	}	
}
@media screen and (max-width:576px) {
	.left {
		order:2;
	}
	.right {
		order:1;
	}
	.mapouter,
	.gmap_canvas {
		height:250px;
	}
}