

/*ERROR SECTION*/
#error-wrapper {
	background-color:var(--main-primary);
	overflow-x:hidden;
	overflow-y:auto;
}
#error-wrapper, #error-wrapper .row {
	height:100vh;
}
@media screen and (min-width:800px) {
	.error-graphics {
		display:block
	}
	.error-catch {
		text-align:left;
	}
	.error-btn {
		width:50%;
	}
	.error-text {
		width:70%;
	}
	.error-catch > div {
		padding-left:5%;
	}
}
@media screen and (min-width:767px) and (max-width:800px) {
	.error-graphics {
		display:block;
	}
}
@media screen and (max-width:767px) {
	.error-graphics {
		display:none;
	}
	.error-catch {
		text-align:center;
	}
	.error-btn {
		width:100%;
	}
	.error-text {
		width:100%;
	}
	.error-catch > div {
		padding-left:2%; 
	}
}



/*Copyright Section*/
.copyright-wrapper {
	position:absolute;
	bottom:0;
	width:100%;
}
@media screen and (min-width:500px) {
	.copyright-wrapper {
		display:block;
	}
}
@media screen and (max-height:500px) {
	.copyright-wrapper {
		display:none;
	}
}