

/* FOOTER */
.scroll-horizontal.to-top > .btn {
	color:var(--tertiary-light);
	background:var(--main-primary);
	width:80px;
	border-radius:100px 100px 0 0;
	position:relative;
	top:13px;
}
.scroll-horizontal.to-top > .btn:hover {
	color:var(--main-secondary);
}
#footer {
	background:var(--main-primary);
	position:relative;
}
#footer > .container-fluid {
	padding:var(--lg-padding);
}
.col-footer {
	margin:0;
	margin-top:1.7rem;
}
.col-footer .section:not(:last-child) {
	margin-bottom:1.3rem;
}


/*CTA*/
.input-s-2 {
	border-color:transparent;
	border-radius:0;
	color:var(--main-primary);
	opacity:0.9;
}
.subscriber-email {
	text-align:center;
	padding:1.4%;
	width:70%;
}
.input-s-2:focus {
	opacity:1;
}
.subscribe-btn {
	background:var(--tertiary-orange);
	color:var(--tertiary-light);
	font-weight:470;
}
.subscribe-btn:hover {
	color:var(--tertiary-light);
}
.subscribe-btn:active {
	opacity:0.7;
}
.subscriber-email.incorrect {
	color:var(--tertiary-light);
	background:rgba(236, 88, 88, 0.2);
	border-color:rgba(236, 88, 88, 1);
}
.subscriber-email.correct {
	color:var(--tertiary-light);
	background:rgba(140, 255, 218,0.1);
	border-color:rgba(140, 255, 218,1);
}


/*Footer Links*/
#footer .link {
	line-height:2px;
	text-decoration:none;
}
#footer .link.s-1,
#footer .link.s-3 {
	color:var(--tertiary-light);
}
#footer .link.s-1:hover,
#footer .link.s-2 {
	color:var(--main-secondary);
}
#footer .link.s-2:hover,
#footer .link.s-3:hover {
	text-decoration:underline;
}
#footer .link:active {
	background:rgba(32,164,243,0.1);
	transition:background 0.3s ease;
}


/*Social Links*/
.social-link {
	padding:6px;
	font-size:2rem;
	opacity:1;
}
.social-link:hover {
	opacity:0.7;
}
.fa-facebook-square {
 	color:#38529A;
}
.fa-instagram {
 	color:#E67135;	
}
.fa-twitter-square {
 	color:#1C9CEA;
}
.fa-linkedin-square {
	color:#0073B1;
}
.contact-us .fa {
	transform:scale(1.2);
	color:var(--main-secondary);
}
.payment-method img{
	margin:0 1.1rem 0.1rem 0;
}


/*Footer Copyright*/
.copyright-wrapper {
	padding:1%;
	background:rgba(32,164,243,0.05);
}
.copyright-wrapper span:not(:last-child) {
	margin-right:0.1rem;
}


/*Smooth Transition effect*/
.scroll-horizontal.to-top > .btn, 
#footer .link, 
.subscribe-btn:active {
	transition:0.3s ease;
}