

/* FOOTER */
.scroll-horizontal.to-top > .btn {
	color:#fff;
	background:#160C28;
	width:80px;
	border-radius:100px 100px 0 0;
	transition:0.2s
}
#footer .link {
	color:#E1EFE6;
	transition:0.5s;
}
#footer .links__contact-us .link:hover {
	color:#f45c24;
	text-decoration:none;
}
#footer .company-address {
	font-style:italic;
	color:antiquewhite;
}
.social-link:not(:last-child) {
	margin-right:3%;
}
.fa-google {
 	color:#EA4638;
}
.fa-facebook {
 	color:#38529A;
}
.fa-instagram {
 	color:#E67135;	
}
.fa-twitter {
 	color:#1C9CEA;
}
.social-link {
	padding:6px;
	border-radius:2px;
}
.social-link > i {
	transition:0.5s;
}
.social-link:hover > i {
	color:#EFCB68;
}
.company-direction-map {
	width:100%;
	height:70vh;
}