
/* NAVIGATION */
#navigation {
	position:fixed;
	width:100%;
	z-index:1;
	transition:0.2s ease-in-out;
}
.navigation-bg-init {
  background:#fafafa99;
}
.navigation-bg-scroll {
  background:#EFCB68
}
#navigation .container-fluid, #illustration .container-fluid{
	padding:2%;
}
@media screen and (min-width:650px) {
	.nav-center {
		display:block;
	}
}
@media screen and (max-width:650px) {
	.nav-center {
		display:none;
	}
}	
.navigation-bar .nav-link {
	color:#000411;
	font-weight:500
}
.navigation-bar .nav-link.active {
	text-decoration:underline;
}
.navigation-bar .nav-link:hover {
	color:#160C28;
	text-decoration:underline;
}
.alineter-logo {
	transition:0.5s ease-in-out;
}
.alineter-logo:hover {
	transform:rotateY(180deg);
}
.slide-navigation-btn {
	background-position: center;
  	transition: background 0.8s ease-in-out;
}
.slide-navigation-btn:active {
  background:#E1EFE695;
  transition: background 0.5s;
}

/*SLIDE NAVIGATION*/
#slide-navigation {
  height:100%;
  /*width:85%;*/
  width:auto;
  position:fixed;
  z-index:1;
  top:0;
  left:-85%;
  background-color:#050609;
  overflow-x:hidden;
  overflow-y:auto;
  transition: 0.5s;
  padding:4% 1%;
}
#slide-nav .nav-link {
	border-radius:5px;
	color:#EFCB68;
	opacity:0.65;
	transition:0.3s ease-in-out;
}
#slide-nav .nav-link:hover {
	opacity:1;
	transform:scale(1.1);
}
#slide-nav .nav-link:active {
  background:#E1EFE699;
}

/*Illustration*/
#illustration {
  height:auto;
  background:#050609;
}
.store-btn {
	color:#EFCB68;
	border-radius:6px;
	border:1.3px solid #EFCB68;
}
.store-btn:hover {
	color:#000411;
	background:#EFCB68;
}
.ripple-opacity:active {
  opacity:0.7;
  transition: opacity 0.2s;
}
