

/* ILLUSTRATION */
#illustration {
  background-image:url('../images/main-bg-img.webp');
}
.illustration-box::-webkit-scrollbar {
	display:none;
}
/*Responsive illustration Box*/
@media screen and (min-width:650px) {
	#illustration .illustration-box{
		width:50%;
	}
}
@media screen and (max-width:650px) {
	#illustration .illustration-box{
		width:100%;
	}
}
/*Responsive illustration head*/
@media screen and (min-width:720px) {
	.illustration-head h2 {
		font-size:4.2rem;
	}
}
@media screen and (max-width:720px) {
	.illustration-head h2 {
		font-size:3.5rem;
	}
}
.store-btn {
	width:50%;
	border-radius:100px;
	padding:0.8rem 0;
	font-size:1.12rem;
	color:var(--tertiary-light);
	background:var(--tertiary-orange);
	border:1.3px solid var(--tertiary-orange);
}
.store-btn:hover {
	color:var(--tertiary-light);
	border:1.3px solid var(--main-secondary);
	background:var(--main-secondary);
}




/* USP */
#usp {
	/*padding:var(--lg-padding);*/
	padding:5% 0.5%;
}
.usp-box {
	border:0;
	border-radius:5px;
	transition:0.3s ease;
}
@media screen and (min-width:1300px) {
	.usp-box {
		width:300px;
	}
}
@media screen and (min-width:872px) and (max-width:1300px) {
	.usp-box {
		width:250px;
	}
}
@media screen and (min-width:782px) and (max-width:871px) {
	.usp-box {
		width:200px;
	}
}
@media screen and (min-width:599px) and (max-width:782px) {
	.usp-box {
		width:180px;
	}
}
@media screen and (min-width:330px) and (max-width:599px) {
	.usp-box {
		width:150px;
	}
}
@media screen and (min-width:320px) and (max-width:330px) {
	.usp-box {
		width:160px;
	}
}
@media screen and (max-width:320px) {
	.usp-box {
		width:128px;
	}
}
.usp-box:hover {
	background:#011627;
	transition-delay:0.1s;
	transform:translateY(-15px);
}
.icon-filler {
	width:40%;
	height:40%;
}
.usp-icon {
	width:100%;
	height:100%;
	object-fit:cover;
}
.usp-tag {
	font-size:1rem;
}
.usp-icon,
.usp-tag {
	filter:grayscale(100%);
	transition:0.3s ease;
}
.usp-box:hover :is(.usp-tag, .usp-icon) {
	transition-delay:0.2s;
	filter:grayscale(0);
	cursor:default;
}
.usp-box:hover .usp-icon {
	transform:translateY(15px);
}





/* PRODUCT-QUICK-VIEW */
#product-quick-view {
	padding:var(--lg-padding);
	background-color:var(--tertiary-light);
	background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}
.q-product-box{
	overflow-x:auto;
}
.q-product-box::-webkit-scrollbar {
    display:none;
}
.q-product-box {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style:none;
  scrollbar-width:none;  
}
.q-product-card {
	color:#a1a7ad;
	padding:0;
	border:0;
	border-bottom:3px solid transparent;
	transition:0.3s ease-in-out;
}
.q-product-box div:not(:last-child) {
	padding-right:5%;
}
.q-product-card:hover {
	border-bottom:3px solid #400011;
	color:#400111;
}
.q-product-card > img {
	transition:0.3s ease-in-out
}
.q-product-card:hover > img {
	filter:brightness(40%);
}
@media screen and (max-width:300px) {
	.q-product-card {
		width:50vw;
	}
	.q-product-body {
		padding:1%;
	}
}
@media screen and (min-width:300px) and (max-width:680px) {
	.q-product-card {
		width:45vw;
	}
	.q-product-body {
		padding:1%;
	}
}
@media screen and (min-width:680px) and (max-width:1000px){
	.q-product-card {
		width:40vw;
	}
	.q-product-body {
		padding:1%;
	}
}
@media screen and (min-width:1000px) and (max-width:1100px){
	.q-product-card {
		width:35vw;
	}
	.q-product-body {
		padding:2%;
	}
}
@media screen and (min-width:1100px) and (max-width:1250px){
	.q-product-card {
		width:30vw;
	}
	.q-product-body {
		padding:2%;
	}
}
@media screen and (min-width:1250px){
	.q-product-card {
		width:25vw;
	}
	.q-product-body {
		padding:2.5%;
	}
}
.scroll-btn > i {
	color:#E1EFE6;
	transition:0.3s ease; 
}
.scroll-btn:hover > i {
	color:#AEB7B3;
}




/* TESTIMONIALS */
#testimonial {
	padding:3% 0;
	background:linear-gradient(110deg, #ffffff 33%, #000428 33%);
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
@media screen and (min-width:444px) {
	#testimonial {
		/*background:linear-gradient(110deg, #ffffff 33%, #000428 33%);*/
	background:#000428;
	}
}
@media screen and (max-width:444px) {
	#testimonial {
		background:#000428;
	}
}
#testimonial .testimonial-box {
	overflow-x:auto;
	padding:0 1%;
}
.testimonial-box::-webkit-scrollbar {
    display:none;
}
.testimonial-box {
  -ms-overflow-style:none;
  scrollbar-width:none;  
}
.fa-quote-left {
	font-size:8rem;
	color:#AEB7B330;
}
#testimonial .heading {
	font-family: "Times New Roman", Times, serif;
	font-size:2rem;
	color:#AEB7B3;	
}
#testimonial .rating-icon {
	color:#EFCB68;
}
#testimonial .rating-icon.lg {
	font-size:2rem;
}
#testimonial .rating-icon.sm {
	font-size:1rem;
}
.review-box .card:hover {
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.review-card {
	width:22rem;
	background:rgba(22,12,40,0.5);
	transition:0.3s ease;
}
.review-card:hover {
	background-color:rgba(22,12,40,1);
}



/* NEWSLETTER */
@media screen and (min-width:700px) {
	.newsletter-box {
		width:75%;
	}
}
@media screen and (max-width:700px) {
	.newsletter-box {
		width:100%;
	}
}
.newsletter-subscribe {
	padding:3% 2%;
	border:5px solid rgba(22,12,40,0.7);
}
@media screen and (min-width:860px) {
	#newsletter-subscribe-lg {
		display:none;
	}
	#newsletter-subscribe-sm {
		display:block;
	}
}
@media screen and (max-width:860px) {
	#newsletter-subscribe-lg {
		display:none;
	}
	#newsletter-subscribe-sm {
		display:block;
	}
}
.newsletter-subscribe .newsletter-subscribe-form{
	border-left:5px solid #6C63FF;
}
.newsletter-subscribe .input-s-1 {
	background:transparent;
}
.newsletter-subscribe .input-s-1.filled {
	color:#6C63FF;
}
.newsletter-subscribe .input-s-1:focus {
	color:#6C63FF;
	border-color:#6C63FF;
}




