

/* ILLUSTRATION */
#illustration {
  background-color:var(--main-primary);
  background-image:url('../images/main-bg-img.webp');
}
.illustration-box::-webkit-scrollbar {
	display:none;
}
/*Responsive illustration Box*/
@media screen and (min-width:650px) {
	#illustration .illustration-box{
		width:50%;
	}
}
@media screen and (max-width:650px) {
	#illustration .illustration-box{
		width:100%;
	}
}
/*Responsive illustration head*/
@media screen and (min-width:720px) {
	.illustration-head h2 {
		font-size:4.2rem;
	}
}
@media screen and (max-width:720px) {
	.illustration-head h2 {
		font-size:3.5rem;
	}
}
.store-btn {
	width:50%;
	border-radius:100px;
	padding:0.8rem 0;
	font-size:1.12rem;
	color:var(--tertiary-light);
	background:var(--tertiary-orange);
	border:1.3px solid var(--tertiary-orange);
}
.store-btn:hover {
	color:var(--tertiary-light);
	border:1.3px solid var(--main-secondary);
	background:var(--main-secondary);
}




/* USP */
#usp {
	/*padding:var(--lg-padding);*/
	padding:5% 0.5%;
}
.usp-box {
	border:0;
	border-radius:5px;
	transition:0.3s ease;
}
@media screen and (min-width:1300px) {
	.usp-box {
		width:300px;
	}
}
@media screen and (min-width:872px) and (max-width:1300px) {
	.usp-box {
		width:250px;
	}
}
@media screen and (min-width:782px) and (max-width:871px) {
	.usp-box {
		width:200px;
	}
}
@media screen and (min-width:599px) and (max-width:782px) {
	.usp-box {
		width:180px;
	}
}
@media screen and (min-width:330px) and (max-width:599px) {
	.usp-box {
		width:150px;
	}
}
@media screen and (min-width:320px) and (max-width:330px) {
	.usp-box {
		width:160px;
	}
}
@media screen and (max-width:320px) {
	.usp-box {
		width:128px;
	}
}
.usp-box:hover {
	background:var(--main-primary);
	transition-delay:0.1s;
	transform:translateY(-15px);
}
.icon-filler {
	width:40%;
	height:40%;
}
.usp-icon {
	width:100%;
	height:100%;
	object-fit:cover;
}
.usp-tag {
	font-size:1rem;
}
.usp-icon,
.usp-tag {
	filter:grayscale(100%);
	transition:0.3s ease;
}
.usp-box:hover :is(.usp-tag, .usp-icon) {
	transition-delay:0.2s;
	filter:grayscale(0);
	cursor:default;
}
.usp-box:hover .usp-icon {
	transform:translateY(15px);
}





/* PRODUCT-QUICK-VIEW */
#product-quick-view {
	padding:4% 0;
	background-color:var(--tertiary-light);
	background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
	position:relative;
}
.q-product-box{
	z-index:0;
	overflow-x:auto;
}
.q-product-box::-webkit-scrollbar {
    display:none;
}
.q-product-box {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style:none;
  scrollbar-width:none;  
}
.q-product-card {
	color:var(--tertiary-light);
	padding:0;
	border:0;
	transition:0.3s ease-in-out;
	position:relative;
}
.q-product-card > img {
	width:100%;
	height:100%;
	object-fit:cover;
	transition:0.3s ease;
}
.q-product-card:hover > img {
	filter:brightness(70%);
}
.q-product-card, 
.q-product-card > img {
	border-radius:0;
}
.q-product-body {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	padding:3.5% 0;
	font-size:1.2rem;
	background:rgba(1, 22, 39, 0.7);
	opacity:0.7;
	transition:0.3s ease;
}
.q-product-card:hover .q-product-body {
	opacity:0.8;
}
.q-product-card.load-gradient {
	background: linear-gradient(-45deg, #2EC4B6, #20A4F3);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
/*
  .q-product-card
  ----------------
  height: width - 7vw;
*/
@media screen and (min-width:1500px) {
	.q-product-card {
		width:30vw;
		height:23vw;
	}
}
@media screen and (min-width:1272px) and (max-width:1500px) {
	.q-product-card {
		width:25vw;
		height:18vw;
	}
}
@media screen and (min-width:992px) and (max-width:1272px) {
	.q-product-card {
		width:28vw;
		height:21vw;
	}
}
@media screen and (min-width:872px) and (max-width:992px) {
	.q-product-card {
		width:32vw;
		height:25vw;
	}
}
@media screen and (min-width:518px) and (max-width:872px) {
	.q-product-card {
		width:40vw;
		height:33vw;
	}
}
@media screen and (min-width:436px) and (max-width:518px) {
	.q-product-card {
		width:50vw;
		height:43vw;
	}
}
@media screen and (max-width:436px) {
	.q-product-card {
		width:58vw;
		height:51vw;
	}
}
/* scroll button for quick products */
.scroll-vertical {
	z-index:1;
	height:100%;
	position:absolute;
	top:0;
	padding-left:0.5rem;
}
.scroll-vertical.left {
	left:0;
}
.scroll-vertical.right {
	right:0;
}
.scroll-btn {
	position:relative;
	top:50%;
	transform:translateY(-50%);
	width:50px;
	height:50px;
	border-radius:50%;
	color:var(--tertiary-blue);
	background:var(--tertiary-light);
	border:3px solid var(--tertiary-blue);
}
.scroll-btn > i {
	font-size:1.5rem;
}




/* TESTIMONIALS */
#testimonial {
	padding:var(--lg-padding);
	background-color:var(--main-primary);
	position:relative;
	z-index:1;
}
#testimonial::after {
	content:'';
	top:0;
	left:0;
	position:absolute;
	width:100%;
	height:100%;
	background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
	z-index:-1;
	opacity:0.4;
}
#testimonial .testimonial-box {
	overflow-x:auto;
	padding:0 1%;
}
.testimonial-box::-webkit-scrollbar {
    display:none;
}
.testimonial-box {
  -ms-overflow-style:none;
  scrollbar-width:none;  
}
.fa-quote-left {
	font-size:8rem;
	color:#F6F7F850;
}
#testimonial .heading {
	font-family: "Times New Roman", Times, serif;
	font-size:2rem;
	color:#AEB7B3;	
}
#testimonial .rating-icon {
	color:#EFCB68;
}
#testimonial .rating-icon.lg {
	font-size:2rem;
}
#testimonial .rating-icon.sm {
	font-size:1rem;
}
.review-box .card:hover {
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.review-card {
	width:22rem;
	background:rgba(22,12,40,0.5);
	transition:0.3s ease;
}
.review-card:hover {
	background-color:rgba(22,12,40,1);
}



/* NEWSLETTER */
@media screen and (min-width:700px) {
	.newsletter-box {
		width:75%;
	}
}
@media screen and (max-width:700px) {
	.newsletter-box {
		width:100%;
	}
}
.newsletter-subscribe {
	padding:3% 2%;
	border:5px solid rgba(22,12,40,0.7);
}
@media screen and (min-width:860px) {
	#newsletter-subscribe-lg {
		display:none;
	}
	#newsletter-subscribe-sm {
		display:block;
	}
}
@media screen and (max-width:860px) {
	#newsletter-subscribe-lg {
		display:none;
	}
	#newsletter-subscribe-sm {
		display:block;
	}
}
.newsletter-subscribe .newsletter-subscribe-form{
	border-left:5px solid #6C63FF;
}
.newsletter-subscribe .input-s-1 {
	background:transparent;
}
.newsletter-subscribe .input-s-1.filled {
	color:#6C63FF;
}
.newsletter-subscribe .input-s-1:focus {
	color:#6C63FF;
	border-color:#6C63FF;
}




