
/* Common Frame on Input Tag */

.input--s1, 
.input--s2, 
.textarea--s1  {
	padding:0.7em;
	border:0;
	border-style:solid;
}
/* Remove arrows from input[type="number"] */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}


/*Input Style #1 */
.input--s1 {
	border-bottom-width:2px;
	text-align:center;
}
.input--s1:focus {
	outline:none;
	border-bottom-width:2px; 
	border-style:solid;
}



/* 
  Input Style #2 
  Textarea Style #1
*/
.input--s2,
.textarea--s1 {
	border-width:1px;
	border-radius:3px;
}
.input--s2:focus, 
.textarea--s1:focus {
	outline:none;
	border-width:1px; 
	border-style:solid;
}


/* Textarea Style #1 */


/*Change Background color in autofill textbox*/
input:-webkit-autofill
{
 -webkit-box-shadow: 0 0 0 30px #F3FFFB inset !important;
}
