
/* Common Frame on Input Tag */

.input-s-1, .input-s-2, .textarea-s-1  {
	font-family:calibri;
	padding:2%;
	border:0;
	border-style:solid;
	border-color:#AEB7B3;
	transition:0.3s;
}
/* Remove arrows from input[type="number"] */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}


/*Input Style #1 */
.input-s-1 {
	border-bottom-width:2px;
	text-align:center;
}
.input-s-1::placeholder, .input-s-2::placeholder , .textarea-s-1::placeholder{
	color:#AEB7B395;
	transition:0.3s;
}
.input-s-1:focus {
	outline:none;
	border-bottom-width:2px; 
	border-style:solid;
}
.input-s-1:focus::placeholder, .input-s-2:focus::placeholder, .textarea-s-1:focus::placeholder{
	color:#AEB7B3;
}



/* Input Style #2 */
.input-s-2 {
	border-width:2px;
	border-radius:3px;
}
.input-s-2:focus, .textarea-s-1:focus {
	outline:none;
	border-width:2px; 
	border-style:solid;
}


/* Textarea Style #1 */
.textarea-s-1 {
	border-width:2px;
	border-radius:3px;
}

