
.loading-img {
  animation-name:animate;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; 
}

@keyframes animate {
  0% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

section#body {
  display:none;
  -webkit-animation-name: increaseOpacity;
  -webkit-animation-duration: 1s;
  animation-name: increaseOpacity;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

@-webkit-keyframes increaseOpacity {
  from {
    opacity:0 
  } 
  to {
    opacity:1 
  }
}
@keyframes increaseOpacity { 
  from {
    opacity:0 
  } 
  to {
    opacity:1 
  }
}