

/* ILLUSTRATION */
/*#illustration {
  background-image:url('../images/blog-illus.jpg');
}
.illustration-box {
	width:100%;
}
*/



/* BLOGS */
#blogs-utility {
	padding:var(--sm-padding);
	padding-bottom:1%;
}
#blogs {
	padding:var(--sm-padding);
}
@media screen and (min-width:850px) {
	.wrapper {
		width:70%;
	}
	.blogs-search-util.wrapper {
		width:45%;
	}
}
@media screen and (min-width:700px) and (max-width:850px) {
	.wrapper {
		width:75%;
	}
	.blogs-search-util.wrapper {
		width:60%;
	}
}
@media screen and (min-width:550px) and (max-width:700px) {
	.wrapper {
		width:80%;
	}
}
@media screen and (max-width:550px) {
	.wrapper {
		width:100%;
	}
}
/*horizontal line*/
div.hr {
	width:100%;
	height:0;
	background:#bfbfbf;
	border:0.3px solid #bfbfbf;
	border-radius:100px;
}




/* BLOGS SEARCH INPUT SECTION */
input[name="q"] {
	background:transparent;
	width:80%;
	font-size:1.1rem;
	letter-spacing:1.02px;
	word-spacing:2px;
	transition:0.3s ease;
}
input[name="q"]::placeholder {
	opacity:0.5;
}
input[name="q"] + .fa-times {
	cursor:pointer;
	opacity:0;
	pointer-events:none;
	transition:0.2s ease;
}

@media screen and (min-width:592px) {
	.blogs-search-util {
		background:var(--tertiary-light);
	}
	.blog-search-icon,
	input[name="q"],
	input[name="q"]::placeholder,
	input[name="q"] + .fa-times {
		color:var(--main-primary);
	}
	input[name="q"] {
		border-color:var(--main-primary);
	}
}
@media screen and (max-width:592px) {
	.blogs-search-util {
		background:var(--main-primary);
	}
	.blog-search-icon,
	input[name="q"],
	input[name="q"]::placeholder,
	input[name="q"] + .fa-times {
		color:var(--tertiary-light);
	}
	input[name="q"] {
		border-color:var(--tertiary-light);
	}
}

/* BLOGS CATEGORY SEARCH SECTION*/

.category-btn {
	margin-right:0.5%;
	pointer-events:none;
	cursor:default;
}
.category-item:not(:last-child) {
	margin-right:1.2%;
	padding:8px 16px;
}
.category-item[data-state="active"] {
	background:var(--main-primary);
	color:var(--tertiary-light);
}
.category-item:not(.category-item[data-state="active"]):hover {
	background:rgba(1, 22, 39, 0.08);
	color:var(--main-primary);
}
.category-dropdown {
  position:relative;
  display:inline-block;
}
.category-dropbtn {
  padding:13px 39px;
  font-size:1.1rem;
  cursor:pointer;
}
.category-dropbtn > .fa-caret-down {
	transition:0.2s ease;
}
.category-content {
  display:none;
  position:absolute;
  background-color:#f9f9f9;
  min-width:170px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:1;
}
.category-content button {
  color:var(--main-primary);
  padding:12px 16px;
}
.category-dropdown:hover .category-content {
  display:block;
}
.category-dropdown:hover .fa-caret-down {
	transform:rotate(180deg);
}




/* BLOGS SECTION */
.blog {
	border:1px solid #BFBFBF;
}
.blog:not(:first-child) {
	margin-top:5%;
}
.load-gradient {
	background: linear-gradient(-45deg, #2EC4B6, #20A4F3);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.blog-img-wrapper {
	width:100%;
	background:var(--tertiary-light);
}
@media screen and (min-width:1200px) {
	.blog-img-wrapper {
		height:400px;
	}
}
@media screen and (min-width:640px) and (max-width:1200px) {
	.blog-img-wrapper {
		height:350px;
	}
}
@media screen and (max-width:640px) {
	.blog-img-wrapper {
		height:270px;
	}
}
.blog-img {
	width:100%;
	height:100%;
	object-fit:cover;
}

.blog-detail-wrapper {
	padding:var(--lg-padding-inverse);
}

.blog-description,
.blog-img-wrapper {
	cursor:pointer;
}

.blog-author-img {
	width:32px;
	height:32px;
	position:relative;
	top:3px;
}
.blog-author-img :is( img) {
	width:100%;
	height:100%;
	object-fit:cover;
}
.blog-author-name {
	font-size:0.85rem;
	font-weight:450;
}
.blog-pub-date {
	font-size:0.7rem;
}
.blog-author-name,
.blog-pub-date {
	letter-spacing:1.01px;
}

.blog-link :is( a >.fa-link) {
	color:var(--main-primary);
	transform:rotateX(180deg);
}
.blog-link a:hover {
	background:var(--tertiary-light);
}
.blog-link a:active {
	opacity:0.8;
	transition:opacity 0.2s ease;
}
.blog-short-descp p {
	font-size:1rem;
}
.blog-success {
	cursor:default;
}
.blog-report {
	font-size:0.8rem;
}
.blog-report .like-btn {
	color:#E84A43;
	font-size:0.9rem;
	cursor:pointer;
}
.like-btn.loveEffect {
	animation: love 0.5s ease 1;
}
@keyframes love {
	0% {
		filter:drop-shadow(0 0 0 #E84A43);
	}
	50% {
		filter:drop-shadow(0rem 0rem 0.6rem #E84A43);
	}
	100% {
		filter:drop-shadow(0 0 0 #E84A43);
	}
}
