

/* ILLUSTRATION */
/*#illustration {
  background-image:url('../images/blog-illus.jpg');
}
.illustration-box {
	width:100%;
}
*/


/* BLOGS SECTION */
/*#blogs-utility {
	padding:var(--sm-padding);
}*/

/*.blog {
	position:relative;
	width:100%;
	overflow:hidden;
	border-radius:6px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
@media screen and (min-width:1400px) {
	.blog {
		height:500px;
	}
}
@media screen and (max-width:1400px) and (min-width:1100px) {
	.blog {
		height:320px;
	}
}
@media screen and (max-width:1100px) and (min-width:400px) {
	.blog {
		height:250px;
	}
}
@media screen and (max-width:400px) {
	.blog {
		height:220px;
	}
}
.blog.bg-1 {
	background:linear-gradient(120deg,#ee0979 60%,#ff6a00 40%);
}
.blog.bg-2 {
	background:linear-gradient(-120deg,#41295a 60%,#2F0743 40%);
}
.blog.bg-3 {
	background:linear-gradient(220deg,#00c3ff 80%,#ffff1c 20%);
}
.blog.bg-4 {
	background:linear-gradient(320deg,#ff7e5f 50%,#feb47b 50%);
}
.display-blog-title, .mostViewedFlag, .blog-overlay {
	position:absolute;
}
.display-blog-title, .blog-overlay {
	width:100%;
	background:rgba(34, 24, 51,0.5);
}
.display-blog-title {
	padding:3%;
	bottom:0;
	opacity:1;
}
.mostViewedFlag {
	top:5px;
	right:5px;
}
.mostViewedFlag > div {
	width:auto;
	background:rgba(34, 24, 51,0.75);
}
.blog-overlay {
	height:100%;
	bottom:-100%;
	background:rgba(34, 24, 51,0.8);
}
.display-blog-title, .mostViewedFlag, .blog-overlay {
	transition:0.35s ease;	
}
.blog.enable-hover:hover .blog-overlay, .display-blog-title  {
	transition-delay:0.5s;
}
.blog.enable-hover:hover .display-blog-title {
	opacity:0;
}
.blog.enable-hover:hover .mostViewedFlag {
	transition-delay:0.7s;
	right:calc(-32px + -5px);
}
.blog.enable-hover:hover .blog-overlay {
	bottom:0;
}
.blog-image > img {
	width:100%;
	height:100%;
}
.blog-top, .blog-bottom {
	padding:3%;
	position:absolute;
	left:0;
}
.blog-title > h5 {
	line-height:1.5;
}
.blog-top {
	top:0;
}
.blog-bottom {
	bottom:0;
}*/



/*
Transition
#ee0979->#ff6a00 orange
#41295a->#2F0743 purple
#00c3ff->#ffff1c green
#ff7e5f->#feb47b light orange

*/


#blogs-utility {
	padding:var(--sm-padding);
	padding-bottom:1%;
}
#blogs {
	padding:var(--sm-padding);
}


@media screen and (min-width:850px) {
	.wrapper {
		width:70%;
	}
	.blogs-search-util.wrapper {
		width:45%;
	}
}
@media screen and (min-width:700px) and (max-width:850px) {
	.wrapper {
		width:75%;
	}
	.blogs-search-util.wrapper {
		width:60%;
	}
}
@media screen and (min-width:550px) and (max-width:700px) {
	.wrapper {
		width:80%;
	}
}
@media screen and (max-width:550px) {
	.wrapper {
		width:100%;
	}
}

/*Search Input*/
input[name="q"] {
	background:transparent;
	width:80%;
	font-size:1.1rem;
	letter-spacing:1.02px;
	word-spacing:2px;
	transition:0.3s ease;
}
input[name="q"]::placeholder {
	opacity:0.5;
}
input[name="q"] + .fa-times {
	cursor:pointer;
	opacity:0;
	pointer-events:none;
	transition:0.2s ease;
}

@media screen and (min-width:592px) {
	.blogs-search-util {
		background:var(--tertiary-light);
	}
	.blog-search-icon,
	input[name="q"],
	input[name="q"]::placeholder,
	input[name="q"] + .fa-times {
		color:var(--main-primary);
	}
	input[name="q"] {
		border-color:var(--main-primary);
	}
}
@media screen and (max-width:592px) {
	.blogs-search-util {
		background:var(--main-primary);
	}
	.blog-search-icon,
	input[name="q"],
	input[name="q"]::placeholder,
	input[name="q"] + .fa-times {
		color:var(--tertiary-light);
	}
	input[name="q"] {
		border-color:var(--tertiary-light);
	}
}

/*Blogs category*/
/*only for testing*/
/*#blogsCategory--lg {
	display:block;
}
#blogsCategory--sm {
	display:block;
}*/

/*responsive category section*/
@media screen and (min-width:750px) {
	#blogsCategory--lg {
		display:block;
	}
	#blogsCategory--sm {
		display:none;
	}
}
@media screen and (max-width:750px) {
	#blogsCategory--lg {
		display:none;
	}
	#blogsCategory--sm {
		display:block;
	}
}
/*.category-btn {
	margin-right:0.5%;
	pointer-events:none;
	cursor:default;
}*/
.category-item {
	margin-right:1.2%;
	padding:8px 16px;
}
.category-item.active {
	background:var(--main-primary);
	color:var(--tertiary-light);
	cursor:default;
	pointer-events:none;
}
.category-item:not(.category-item.active):hover {
	background:rgba(1, 22, 39, 0.08);
	color:var(--main-primary);
}
.category-dropdown {
  position:relative;
  display:inline-block;
}
.category-dropbtn {
  padding:13px 39px;
  font-size:1.1rem;
  cursor:pointer;
}
.category-dropbtn > .fa-caret-down {
	transition:0.2s ease;
}
.category-content {
  display:none;
  position:absolute;
  background-color:#f9f9f9;
  min-width:170px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:1;
}
.category-content button {
  color:var(--main-primary);
  padding:12px 16px;
}
.category-dropdown:hover .category-content {
  display:block;
}
.category-dropdown:hover .fa-caret-down {
	transform:rotate(180deg);
}




/*Blog*/
.blog {
	border:1px solid #BFBFBF;
}
.load-gradient {
	background: linear-gradient(-45deg, #2EC4B6, #20A4F3);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.blog-img-wrapper {
	width:100%;
	background:var(--tertiary-light);
}
@media screen and (min-width:1200px) {
	.blog-img-wrapper {
		height:400px;
	}
}
@media screen and (min-width:640px) and (max-width:1200px) {
	.blog-img-wrapper {
		height:350px;
	}
}
@media screen and (max-width:640px) {
	.blog-img-wrapper {
		height:270px;
	}
}
.blog-img {
	width:100%;
	height:100%;
	object-fit:cover;
}

.blog-detail-wrapper {
	padding:var(--lg-padding-inverse);
}

.blog-author-img {
	width:32px;
	height:32px;
	position:relative;
	top:3px;
}
.blog-author-img :is( img) {
	width:100%;
	height:100%;
	object-fit:cover;
}
.blog-author-name {
	font-size:0.85rem;
	font-weight:450;
}
.blog-pub-date {
	font-size:0.7rem;
}
.blog-author-name,
.blog-pub-date {
	letter-spacing:1.01px;
}

.blog-link :is( button >.fa-link) {
	color:var(--main-primary);
	transform:rotateX(180deg);
}
.blog-link button:hover {
	background:var(--tertiary-light);
}
.blog-link button:active {
	opacity:0.8;
	transition:opacity 0.2s ease;
}
.blog-short-descp p {
	font-size:1rem;
}


/*horizontal line*/
div.hr {
	width:100%;
	height:0;
	background:#bfbfbf;
	border:0.3px solid #bfbfbf;
	border-radius:100px;
}
