/* NAVIGATION */
#navigation {
	position:fixed;
	width:100%;
	z-index:2;
	transition:0.2s ease-in-out;
}
.navigation-bg-init {
  background:rgba(0, 0, 0, 0.35);
}
.navigation-bg-scroll {
  background:#000411;
}
#navigation .container-fluid, #illustration .container-fluid{
	padding:2%;
}
@media screen and (min-width:720px) {
	.nav-left-main, .nav-left-comp {
		display:flex;
	}
	.nav-right-comp {
		display:block;
	}
}
@media screen and (max-width:720px) and (min-width:454px){
	.nav-left-main {
		display:flex;
	}
	.nav-left-comp {
		display:none;
	}
	.nav-right-comp {
		display:block;
	}
}	
@media screen and (max-width:454px){
	.nav-left-main, .nav-left-comp, .nav-right-comp {
		display:none;
	}
}	
#navigation .nav-link {
	color:#FFF;
	font-weight:550;
	transition:0.3s ease-in-out;
	-webkit-animation-name: increaseOpacity;
    -webkit-animation-duration:1.3s;
    animation-name: increaseOpacity;
    animation-duration:0.8s;
    animation-timing-function: ease-in;
}
#navigation .slide-navigation-btn {
	color:#EFCB68;
}
.navigation-bar .nav-link.active {
	text-decoration:none;
	background:rgba(239, 203, 104, 0.3);
}
#navigation .nav-link:hover:not(.nav-link.active) {
	color:#f45c24;
}
#navigation .nav-link:active {
	background:rgba(239, 203, 104, 0.1);
	transition:background 0.3s;
}
.slide-navigation-btn {
  	transition: background 0.8s ease-in-out;
}
.slide-navigation-btn .nav-slide-icon {
	color:#FFF;
}
.slide-navigation-btn .nav-slide-icon.active {
	color:#EFCB68;
}


/* SLIDE NAVIGATION */
#slide-navigation {
  height:100vh;
  width:auto;
  position:fixed;
  z-index:4;
  top:0;
  left:-100%;
  background-color:#050609;
  overflow-x:hidden;
  overflow-y:auto;
  transition: 0.3s ease-in-out;
  padding:4% 1%;
}
#slide-navigation::-webkit-scrollbar {
    display:none;
}
#slide-navigation {
  -ms-overflow-style:none;
  scrollbar-width:none;  
}
#slide-nav .nav-link {
	border-radius:5px;
	color:#EFCB68;
	transition:0.3s ease-in-out;
}
#slide-nav .nav-link:not(#slide-nav .nav-link.active) {
	opacity:0.5;
}
#slide-nav .nav-link.active {
	background:#E1EFE650;
}
#slide-nav .nav-link:hover:not(#slide-nav .nav-link.active) {
	text-decoration:none;
	opacity:1;
	/*transform:translateX(5px);*/
}