/* NAVIGATION */
#navigation {
	background:var(--tertiary-light);
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 9px 0px;
	z-index:2;
	transition:0.3s ease;
}
#navigation.navigation-init {
	padding:var(--lg-padding-inverse);
}
#navigation .nav-right {
	-webkit-animation-name: increaseOpacity;
    -webkit-animation-duration:1.3s;
    animation-name: increaseOpacity;
    animation-duration:0.8s;
    animation-timing-function: ease-in;
}
.logo-text {
	color:var(--main-primary);
	font-weight:bold;
	position:relative;
	top:-10px;
	font-size:0.55rem;
	letter-spacing:1.2px;
	transition:0.3s ease;
}
.navbar-brand:hover .logo-text {
	color:var(--main-secondary);
	text-decoration:none;
}
@media screen and (min-width:670px) {
	.show-on-lg {
		display:block;
	}
	.show-on-sm {
		display:none;
	}
}
@media screen and (max-width:670px) {
	.show-on-sm {
		display: block
	}
}
@media screen and (min-width:540px) and (max-width:670px) {
	.show-on-lg:not(.item-1, .item-2) {
		display:none;
	}
}
@media screen and (min-width:414px) and (max-width:540px) {
	.show-on-lg:not(.item-1) {
		display:none;
	}
}
@media screen and (max-width:414px) {
	.show-on-lg {
		display:none;
	}
}

#navigation .nav-link {
	color:var(--main-primary);
	font-size:1.12rem;
	font-weight:360;
	transition:0.3s ease-in-out;
}
#navigation .nav-link.dropdown-toggler {
	color:var(--tertiary-blue);
	cursor:pointer;
}
#navigation .nav-link:hover {
	background:rgba(1, 22, 39, 0.1);
}
#navigation .nav-link:active {
	background:rgba(1, 22, 39, 0.2);
	transition:background 0.3s;
}
.slide-navigation-btn {
  	transition: background 0.8s ease-in-out;
}
/*Navbar Toggler*/
.toggler-btn {
  padding:1.3em;
  background:var(--tertiary-tiffany-blue);
  border-radius:100px;
  position:relative;
  text-align:center;
  overflow:hidden;
}
.bar {
	width:50%;
	left:50%;
	transform:translateX(-50%);
	position:absolute;
  	height:3.29px;
  	padding: 0;
  	background-color:var(--tertiary-light);  	
}
.toggle-btn,
.bar {
	transition:0.3s ease;
}
.bar-1 {
	top:40%;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
}
.bar-2 {
	top:57%;
	border-bottom-right-radius:100px;
	border-bottom-left-radius:100px;
}
.toggler-btn:hover,
.toggler-btn:focus {
	background-color:var(--tertiary-blue)
}
.toggler-btn:focus .bar-1 {
	left:40%;         
}
.toggler-btn:focus .bar-2 {
	left:60%;       
}



/* SLIDE NAVIGATION */
#slide-navigation {
  height:100vh;
  width:auto;
  position:fixed;
  z-index:5;
  top:0;
  left:-100%;
  background-color:#050609;
  overflow-x:hidden;
  overflow-y:auto;
  transition: 0.3s ease-in-out;
  padding:4% 1%;
}
#slide-navigation::-webkit-scrollbar {
    display:none;
}
#slide-navigation {
  -ms-overflow-style:none;
  scrollbar-width:none;  
}
#slide-nav .nav-link {
	border-radius:5px;
	color:#EFCB68;
	transition:0.3s ease-in-out;
}
#slide-nav .nav-link:not(#slide-nav .nav-link.active) {
	opacity:0.5;
}
#slide-nav .nav-link.active {
	background:#E1EFE650;
}
#slide-nav .nav-link:hover:not(#slide-nav .nav-link.active) {
	text-decoration:none;
	opacity:1;
}

