
::selection {
	background:#dc3545;
	color:#FFF;
}

body {
	padding:0;
	margin:0;
}

/*Color Scheme*/
.bg-purple {
 background:#160C28;
}
.bg-white {
 background:#E1EFE6;			
}
.bg-grey {
 background:#AEB7B3;
}
.bg-orange {
 background:#EFCB68;
}
.bg-black {
 background:#000411;
}
.color-purple {
 color:#160C28;
}
.color-white {
 color:#E1EFE6;			
}
.color-grey {
 color:#AEB7B3;
}
.color-orange {
 color:#EFCB68;
}
.color-black {
 color:#000411;
}


/* Centering Elements */
.cxy {
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.cx {
  left:50%;
  transform:translateX(-50%);
}
.cy {
	top:50%;
	transform:translateY(-50%);
}


/* Buttons */
.btn {
	border:none;
	outline:none;
	transition:0.3s ease-in-out;
}
.btn:focus {
	outline:none;
	box-shadow:none;
}


/* Font Size and Style*/
.big-title {
	font-size:3.5rem;
}
.medium-title {
	font-size:2.5rem;
}
.small-title {
	font-size:1.5rem;
}
.smaller-title {
	font-size:1rem;
	font-family:calibri;
}
.big-title, .small-title, .medium-title{
	font-family: "Times New Roman", Times, serif;
}


/* Ripple Effect */
.ripple-opacity-l:active {
  opacity:0.7;
  transition: opacity 0.2s;
}
.ripple-opacity-d:active {
  opacity:0.9;
  transition: opacity 0.2s;
}
.ripple-bg:active {
	background:#E1EFE650;
	transition:background 0.1s;
}



/* Illustration */
#illustration {
  padding:0;
  height:auto;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}
.illustration-box {
	background:rgba(0,0,0,0.6);/*Default value*/
	overflow:auto;	
	-ms-overflow-style:none;
  	scrollbar-width:none; 
}
/* Small Illustration and Large Illustration */
/* min->small, max->large */
@media screen and (min-width:530px) {
	#illustration.min {
		height:45vh;
	}
	#illustration.max {
		height:100vh;
	}
}
@media screen and (max-width:530px) and (min-width:400px){
	#illustration.min {
		height:40vh;
	}
	#illustration.max {
		height:80vh;
	}
}
@media screen and (max-width:400px){
	#illustration.min {
		height:30vh;
	}
	#illustration.max {
		height:70vh;
	}
}



/*Overlay Effect*/
#overlay-effect {
	width:0;
	height:100%;
	position:fixed;
	background:rgba(34, 24, 51,0.4);
	z-index:3;
	transition:width 0.2s;
}


/* Scroll Reveal */
.scroll-reveal-content {
	overflow:hidden;
}
