
:root {
	--main-primary:#011627;
	--main-secondary:#EF7B45;
	--tertiary-light:#F6F7F8;
	--tertiary-blue:#20A4F3;
	--tertiary-orange:#D84727;
	--tertiary-tiffany-blue:#2EC4B6;
	--lg-padding:5% 2.4%;
	--lg-padding-inverse:2.4% 5%;
}


::selection {
	background:var(--main-primary);
	color:var(--tertiary-light);
}

body {
	padding:0;
	margin:0;
}


/* COMPONENTS */
.btn-outline-richblack,
.btn-outline-mandarin,
.btn-outline-tiffany,
.btn-outline-blue,
.btn-outline-vermillion,
.btn-outline-cultured {
	background:transparent;
}
.btn-outline-richblack {
	border:1px solid var(--main-primary);
	color:var(--main-primary);
}
.btn-outline-richblack:hover {
	border:1px solid var(--main-primary);
	background:var(--main-primary);
	color:var(--tertiary-light);
}
.btn-outline-mandarin {
	border:1px solid var(--main-secondary);
	color:var(--main-secondary);
}
.btn-outline-mandarin:hover {
	border:1px solid var(--main-secondary);
	background:var(--main-secondary);
	color:var(--tertiary-light);
}
.btn-outline-tiffany {
	border:1px solid var(--tertiary-tiffany-blue);
	color:var(--tertiary-tiffany-blue);
}
.btn-outline-tiffany:hover {
	border:1px solid var(--tertiary-tiffany-blue);
	background:var(--tertiary-tiffany-blue);
	color:var(--tertiary-light);
}
.btn-outline-blue {
	border:1px solid var(--tertiary-blue);
	color:var(--tertiary-blue);
}
.btn-outline-blue:hover {
	border:1px solid var(--tertiary-blue);
	background:var(--tertiary-blue);
	color:var(--tertiary-light);
}
.btn-outline-vermillion {
	border:1px solid var(--tertiary-orange);
	color:var(--tertiary-orange);
}
.btn-outline-vermillion:hover {
	border:1px solid var(--tertiary-orange);
	background:var(--tertiary-orange);
	color:var(--tertiary-light);
}
.btn-outline-cultured {
	border:1px solid var(--tertiary-light);
	color:var(--tertiary-light);
}
.btn-outline-cultured:hover {
	border:1px solid var(--tertiary-light);
	background:var(--tertiary-light);
	color:var(--main-primary);
}


/*Color Scheme*/
.bg-purple {
 background:#160C28;
}
.bg-white {
 background:#E1EFE6;			
}
.bg-grey {
 background:#AEB7B3;
}
.bg-orange {
 background:#EFCB68;
}
.bg-black {
 background:#000411;
}
.color-purple {
 color:#160C28;
}
.color-white {
 color:#E1EFE6;			
}
.color-grey {
 color:#AEB7B3;
}
.color-orange {
 color:#EFCB68;
}
.color-black {
 color:#000411;
}


/*Color Scheme*/
.bg-richblack {
	background:var(--main-primary);	
}
.bg-mandarin {
	background:var(--main-secondary);
}
.bg-blue {
	background:var(--tertiary-blue);
}
.bg-tiffany {
	background:var(--tertiary-tiffany-blue);
}
.bg-vermillion {
	background:var(--tertiary-orange);
}
.bg-cultured {
	background:var(--tertiary-light);
}
.text-richblack {
	color:var(--main-primary);
}
.text-mandarin {
	color:var(--main-secondary);
}
.text-blue {
	color:var(--tertiary-blue);
}
.text-tiffany {
	color:var(--tertiary-tiffany-blue);
}
.text-vermillion {
	color:var(--tertiary-orange);
}
.text-cultured {
	color:var(--tertiary-light);
}


/* Centering Elements */
.cxy {
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.cx {
  left:50%;
  transform:translateX(-50%);
}
.cy {
	top:50%;
	transform:translateY(-50%);
}


/* Buttons */
.btn {
	border-radius:0;
	transition:0.3s ease-in-out;
}
.btn:focus {
	outline:none;
	box-shadow:none;
}


/* Font Size and Style*/
.big-title {
	font-size:3.5rem;
}
.medium-title {
	font-size:2.5rem;
}
.small-title {
	font-size:1.5rem;
}
.smaller-title {
	font-size:1rem;
	font-family:calibri;
}
.big-title, .small-title, .medium-title{
	font-family: "Times New Roman", Times, serif;
}


/* Ripple Effect */
.ripple-opacity-l:active {
  opacity:0.7;
  transition: opacity 0.2s;
}
.ripple-opacity-d:active {
  opacity:0.9;
  transition: opacity 0.2s;
}
.ripple-bg:active {
	background:#E1EFE650;
	transition:background 0.1s;
}



/* Illustration */
#illustration {
  padding:0;
  height:auto;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}
.illustration-box {
	background:rgba(1, 22, 39, 0.3);/*Default value*/
	overflow:auto;	
	-ms-overflow-style:none;
  	scrollbar-width:none; 
}
/* Small Illustration and Large Illustration */
/* min->small, max->large */
@media screen and (min-width:530px) {
	#illustration.min {
		height:45vh;
	}
	#illustration.max {
		height:83vh;
	}
}
@media screen and (max-width:530px) and (min-width:400px){
	#illustration.min {
		height:40vh;
	}
	#illustration.max {
		height:80vh;
	}
}
@media screen and (max-width:400px){
	#illustration.min {
		height:30vh;
	}
	#illustration.max {
		height:70vh;
	}
}



/*Overlay Effect*/
#overlay-effect {
	width:0;
	height:100%;
	position:fixed;
	background:rgba(1, 22, 39, 0.75);
	z-index:3;
	transition:width 0.02s ease-in-out;
}


/* Scroll Reveal */
.scroll-reveal-content {
	overflow:hidden;
}



/* FANCY HOVER EFFECTS */
.fancy-effects {
	position:relative;
}
.fancy-effects::after {
	content:"";
	position:absolute;
	left:0;
	transition:0.3s ease;
}

.fancy-effects.slide_both::after,
.fancy-effects.slide_bg_right::after,
.fancy-effects.slide_bg_left::after,
.fancy-effects.slide_bg_topLeft::after {
	width:100%;
	height:100%;
}

.fancy-effects.slide_both::after,
.fancy-effects.slide_bg_right::after,
.fancy-effects.slide_bg_left::after,
.fancy-effects.slide_line::after {
	transform:scaleX(0);
}

.fancy-effects.slide_both:hover::after,
.fancy-effects.slide_bg_right:hover::after,
.fancy-effects.slide_bg_left:hover::after,
.fancy-effects.slide_line:hover::after  {
	transform:scaleX(1);
}

.fancy-effects.slide_both::after,
.fancy-effects.slide_bg_right::after,
.fancy-effects.slide_bg_left::after,
.fancy-effects.slide_bg_topLeft::after {
	z-index:-1;
}


/* Bg expanding from center */
.fancy-effects.slide_both::after {
	transform-origin:center;
}

/* Bg expanding from left to right */
.fancy-effects.slide_bg_right::after {
	transform-origin:left;
}
.fancy-effects.slide_bg_right:hover::after {
	transform-origin:right;
}

/* Bg expanding from right to left */
.fancy-effects.slide_bg_left::after {
	transform-origin:right;
}
.fancy-effects.slide_bg_left:hover::after {
	transform-origin:left;
}

/* Bg expanding from top-left */
.fancy-effects.slide_bg_topLeft::after {
	transform:scale(0);
	transform-origin:top left;
}
.fancy-effects.slide_bg_topLeft:hover::after {
	transform:scale(1);
}

/* expanding line from center */
.fancy-effects.slide_line::after {
	bottom:0;
	width:100%;
	height:2px;
}