

/*VERIFY OTP SECTION*/
#verify-otp, #profile-pic {
	padding:5% 2%;
	overflow-x:auto;
}
@media screen and (min-width:850px) {
	.wrapper, .card-body {
		width:50%;
	}
}
@media screen and (min-width:700px) and (max-width:850px) {
	.wrapper, .card-body {
		width:60%;
	}
}
@media screen and (min-width:550px) and (max-width:700px) {
	.wrapper, .card-body {
		width:80%;
	}
}
@media screen and (max-width:550px) {
	.wrapper, .card-body {
		width:100%;
	}
}
.verification-card .card-header, .verification-card .card-footer {
	background:transparent;
} 
.otp-input {
	color:#F45C24;
	border-color:#F45C24;
	font-size:1.6rem;
	font-weight:bold;
	letter-spacing:5px;
	padding:1%;
	opacity:0.3;
}
.otp-input:focus {
	opacity:1;
}
.verify-btn {
	background:transparent;
	border:1.5px solid #F45C24;
	color:#F45C24;
}
.verify-btn:hover {
	background:#F45C24;
	color:#fff;
}


/* PROFILE PIC SECTION */
.pfImage > div{
	width:100px;
	height:100px;
	border-radius:50%;
	border:0px solid #160C28;
	overflow:hidden;
	background:#F45C24;	
}